<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Reviews</title>
    <link rel="stylesheet" href="/CapstoneProject[bookCover]/public/styles/main.css/">
</head>

<body>
    <h1>WELCOME DEAREST!!</h1><br />
    <h2>Books I have read so far:</h2><br />

    <a class="btn btn-light btn-lg" href="/add" role="button">Add a new book</a>

    <ul>
        <% books.forEach((item) =>{ %>
                <li>
                    <%= item.title %><br />
                    <%= item.author %><br />
                    <%= item.isbn %><br />
                    <%= item.date %><br />
                    <img src="<%= item.coverurl %>" width="100", height="200"> <br />  
                    <%= item.notes %><br />
                </li>

        <%});%>
    </ul>
</body>

</html>